<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CS499.TCMS.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CS499.TCMS.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CS499.TCMS.View.Properties.Settings>
            <setting name="LoggedInUser" serializeAs="String">
                <value>dc0059</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseDark</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Emerald</value>
            </setting>
            <setting name="UpdateLocation" serializeAs="String">
                <value>Not Deployed</value>
            </setting>
            <setting name="ThemeFileLocation" serializeAs="String">
                <value>{0}\TCMS\user.theme</value>
            </setting>
        </CS499.TCMS.View.Properties.Settings>
    </userSettings>

    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%newline"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="DEBUG"/>
          <levelMax value="FATAL"/>
        </filter>
      </appender>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${TEMP}\TCMS\tcms.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger %property{userNameProperty} - %message%newline%exception%newline"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="INFO"/>
          <levelMax value="FATAL"/>
        </filter>
      </appender>
      <root>
        <Level value="DEBUG"/>
        <appender-ref ref="RollingFileAppender"/>
        <appender-ref ref="ConsoleAppender"/>
      </root>
    </log4net>
  
    <applicationSettings>
        <CS499.TCMS.View.Properties.Settings>
            <setting name="HelpDocument" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="DevDatabase" serializeAs="String">
                <value>tcms_dev</value>
            </setting>
            <setting name="ProductionDatabase" serializeAs="String">
                <value>tcms</value>
            </setting>
            <setting name="StartupPath" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="LogFileLocation" serializeAs="String">
                <value>{0}\TCMS\tcms.log</value>
            </setting>
        </CS499.TCMS.View.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
